/* App.css */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: rgb(241, 125, 125);
}

th {
    background-color: #f2f2f2;
}


/* `http://localhost:8080/api/books?page=0&size=10&sort=id,asc` */